.center {
  text-align: center;
}
.digge{
  font-size: 70px;
}
a{
    color:black;
    text-decoration: none;
    display: inline-block;
    margin: 40px;
}
hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
